.netflix-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #141414;
  overflow: hidden;
}

.netflix-logo {
  width: 300px;
  height: auto;
  opacity: 1;
  transform: scale(1);
  will-change: transform, opacity;
}

.animate {
  animation: zoomOut 3.3s ease-in-out forwards; /* Perfect sync */
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}